$bg-red: rgba(187, 35, 57, 1);
$bg-white: rgba(255, 255, 255, 1);
$bg-grey: rgba(170, 170, 170, 1);
$bg-light-gray: rgba(248, 248, 248, 1);
$bg-light-beige: rgba(245, 239, 219, 0.5);
$bg-dark-gray: rgba(86, 86, 86, 0.2);
$neutral-gray: rgba(100, 100, 100, 1);
$dark-gray: rgba(36, 36, 36, 0.1);
